Process to build a lookup table for to which greenbelt shape IDs belong.

steps:
1. Load data containing id infomration

In [1]:
from greensight.utils import DIR_DATA
import geopandas as gpd
from numpy import unique
from tqdm import tqdm
import json

In [2]:
# set location of data file
shapes_path = DIR_DATA / "shapes/England_Green_Belt_2022_23_WGS84/England_Green_Belt_2022_23_WGS84.shp"

out_path = DIR_DATA / "id_lookup/id_lookup.json"
# set output path
if not out_path.parent.is_dir():
    out_path.parent.mkdir()

In [3]:
# read data
df_shapes = gpd.read_file(shapes_path)
df_shapes.head()

,LAD_NM,LAD_CD,GB_Name,Area_ha,geometry
0,Amber Valley,E07000032,Derby and Nottingham,8647.904471,"MULTIPOLYGON (((-1.34303 53.071, -1.34304 53.0..."
1,Ashfield,E07000170,Derby and Nottingham,4521.598181,"MULTIPOLYGON (((-1.18089 53.11499, -1.18089 53..."
2,Barking and Dagenham,E09000002,London,527.776471,"MULTIPOLYGON (((0.15314 51.56697, 0.15325 51.5..."
3,Barnet,E09000003,London,2383.047837,"MULTIPOLYGON (((-0.20927 51.63758, -0.20937 51..."
4,Barnsley,E08000016,South and West Yorkshire,22393.050084,"MULTIPOLYGON (((-1.27572 53.52946, -1.27574 53..."

In [4]:
df_lookup = df_shapes.set_index("LAD_CD")[["GB_Name", "Area_ha"]]
df_lookup

                            GB_Name       Area_ha
LAD_CD
E07000032      Derby and Nottingham   8647.904471
E07000170      Derby and Nottingham   4521.598181
E09000002                    London    527.776471
E09000003                    London   2383.047837
E08000016  South and West Yorkshire  22393.050084
...                             ...           ...
E07000237                Birmingham    234.437679
E07000238                Birmingham   8856.269951
E07000128                 Blackpool    684.236197
E07000239                Birmingham  10979.340962
E06000014                      York  22396.804304

[185 rows x 2 columns]

In [5]:
D_lookup = df_lookup.T.to_dict()

/tmp/ipykernel_7443/4131087190.py:1: UserWarning: DataFrame columns are not unique, some columns will be omitted.
  D_lookup = df_lookup.T.to_dict()

In [7]:
D_lookup

{'E07000032': {'GB_Name': 'Derby and Nottingham',
  'Area_ha': 8647.904471203465},
 'E07000170': {'GB_Name': 'Derby and Nottingham',
  'Area_ha': 4521.598181336487},
 'E09000002': {'GB_Name': 'London', 'Area_ha': 527.7764708010237},
 'E09000003': {'GB_Name': 'London', 'Area_ha': 2383.04783667029},
 'E08000016': {'GB_Name': 'South and West Yorkshire',
  'Area_ha': 22393.050084376224},
 'E07000066': {'GB_Name': 'London', 'Area_ha': 6899.881626589749},
 'E06000022': {'GB_Name': 'Bath and Bristol', 'Area_ha': 24723.379973124953},
 'E09000004': {'GB_Name': 'London', 'Area_ha': 1111.6063315947308},
 'E08000025': {'GB_Name': 'Birmingham', 'Area_ha': 3729.6333139998574},
 'E06000008': {'GB_Name': 'Merseyside and Greater Manchester',
  'Area_ha': 5274.997099825047},
 'E06000009': {'GB_Name': 'Blackpool', 'Area_ha': 63.00451122293812},
 'E07000033': {'GB_Name': 'South and West Yorkshire',
  'Area_ha': 1079.1913439344744},
 'E08000001': {'GB_Name': 'Merseyside and Greater Manchester',
  'Area_ha': 7222.577995118769},
 'E06000058': {'GB_Name': 'South West Hampshire',
  'Area_ha': 5675.808114320244},
 'E06000036': {'GB_Name': 'London', 'Area_ha': 3839.3836576327612},
 'E08000032': {'GB_Name': 'South and West Yorkshire',
  'Area_ha': 23880.647673272506},
 'E07000068': {'GB_Name': 'London', 'Area_ha': 13293.006908406267},
 'E06000023': {'GB_Name': 'Bath and Bristol', 'Area_ha': 604.1388834138762},
 'E09000006': {'GB_Name': 'London', 'Area_ha': 7656.193833468755},
 'E07000234': {'GB_Name': 'Birmingham', 'Area_ha': 19292.13259864553},
 'E07000095': {'GB_Name': 'London', 'Area_ha': 2831.516959743516},
 'E07000172': {'GB_Name': 'Derby and Nottingham',
  'Area_ha': 4901.996489383222},
 'E06000060': {'GB_Name': 'London', 'Area_ha': 50245.91060409108},
 'E07000117': {'GB_Name': 'Merseyside and Greater Manchester',
  'Area_ha': 1051.0503725321669},
 'E08000002': {'GB_Name': 'Merseyside and Greater Manchester',
  'Area_ha': 5918.506613884985},
 'E08000033': {'GB_Name': 'South and West Yorkshire',
  'Area_ha': 22332.556334883266},
 'E07000008': {'GB_Name': 'Cambridge', 'Area_ha': 973.1534106837012},
 'E07000192': {'GB_Name': 'Birmingham', 'Area_ha': 4821.457722219699},
 'E07000069': {'GB_Name': 'London', 'Area_ha': 2498.3622018626097},
 'E06000056': {'GB_Name': 'London', 'Area_ha': 26918.495990478117},
 'E07000070': {'GB_Name': 'London', 'Area_ha': 12825.426110384036},
 'E07000078': {'GB_Name': 'Cheltenham and Gloucester',
  'Area_ha': 546.6500259574483},
 'E07000177': {'GB_Name': 'Oxford', 'Area_ha': 8130.999893256776},
 'E06000049': {'GB_Name': 'Stoke-on-Trent', 'Area_ha': 6547.14123917241},
 'E06000050': {'GB_Name': 'Merseyside and Greater Manchester',
  'Area_ha': 38851.244545272355},
 'E07000034': {'GB_Name': 'South and West Yorkshire',
  'Area_ha': 1440.5149467209292},
 'E07000118': {'GB_Name': 'Merseyside and Greater Manchester',
  'Area_ha': 14548.890418375913},
 'E07000079': {'GB_Name': 'Cheltenham and Gloucester',
  'Area_ha': 113.20119783299533},
 'E06000047': {'GB_Name': 'Tyne and Wear', 'Area_ha': 8577.01474240658},
 'E08000026': {'GB_Name': 'Birmingham', 'Area_ha': 1477.3539993299294},
 'E09000008': {'GB_Name': 'London', 'Area_ha': 2189.4255048452737},
 'E07000096': {'GB_Name': 'London', 'Area_ha': 10628.957412540134},
 'E07000107': {'GB_Name': 'London', 'Area_ha': 4095.3078658914806},
 'E06000015': {'GB_Name': 'Derby and Nottingham',
  'Area_ha': 243.5312061198443},
 'E08000017': {'GB_Name': 'South and West Yorkshire',
  'Area_ha': 23024.272205763744},
 'E06000059': {'GB_Name': 'South West Hampshire',
  'Area_ha': 24461.360517360554},
 'E08000027': {'GB_Name': 'Birmingham', 'Area_ha': 1765.2476732230377},
 'E09000009': {'GB_Name': 'London', 'Area_ha': 308.626665369754},
 'E07000009': {'GB_Name': 'Cambridge', 'Area_ha': 1900.9981754866026},
 'E07000242': {'GB_Name': 'London', 'Area_ha': 16450.148658225622},
 'E07000193': {'GB_Name': 'Burton-upon-Trent and Swadlincote',
  'Area_ha': 39.197151591017835},
 'E07000207': {'GB_Name': 'London', 'Area_ha': 5610.832799639334},
 'E09000010': {'GB_Name': 'London', 'Area_ha': 3069.6758750731587},
 'E07000072': {'GB_Name': 'London', 'Area_ha': 30831.499620925242},
 'E07000208': {'GB_Name': 'London', 'Area_ha': 1560.2357348449002},
 'E07000036': {'GB_Name': 'Derby and Nottingham',
  'Area_ha': 7839.439842070508},
 'E07000119': {'GB_Name': 'Blackpool', 'Area_ha': 1752.637265464685},
 'E08000037': {'GB_Name': 'Tyne and Wear', 'Area_ha': 8514.71712716944},
 'E07000173': {'GB_Name': 'Derby and Nottingham', 'Area_ha': 8791.0671524309},
 'E07000109': {'GB_Name': 'London', 'Area_ha': 7598.054361827359},
 'E09000011': {'GB_Name': 'London', 'Area_ha': 0.613711573610175},
 'E07000209': {'GB_Name': 'London', 'Area_ha': 22623.79670845797},
 'E06000006': {'GB_Name': 'Merseyside and Greater Manchester',
  'Area_ha': 2075.361060546503},
 'E07000164': {'GB_Name': 'York', 'Area_ha': 1523.725636902588},
 'E09000014': {'GB_Name': 'London', 'Area_ha': 60.60418801953285},
 'E07000073': {'GB_Name': 'London', 'Area_ha': 464.04718665130787},
 'E07000165': {'GB_Name': 'York', 'Area_ha': 1347.0809494086495},
 'E09000015': {'GB_Name': 'London', 'Area_ha': 1087.7625986367746},
 'E09000016': {'GB_Name': 'London', 'Area_ha': 6066.532890167776},
 'E07000098': {'GB_Name': 'London', 'Area_ha': 7983.528097805805},
 'E07000037': {'GB_Name': 'Merseyside and Greater Manchester',
  'Area_ha': 3976.21783530078},
 'E09000017': {'GB_Name': 'London', 'Area_ha': 4865.854051188444},
 'E09000018': {'GB_Name': 'London', 'Area_ha': 1224.070538655472},
 'E07000120': {'GB_Name': 'Merseyside and Greater Manchester',
  'Area_ha': 3994.2085948200643},
 'E09000021': {'GB_Name': 'London', 'Area_ha': 638.396324085074},
 'E08000034': {'GB_Name': 'South and West Yorkshire',
  'Area_ha': 24987.858049697123},
 'E08000011': {'GB_Name': 'Merseyside and Greater Manchester',
  'Area_ha': 4226.450867467981},
 'E07000121': {'GB_Name': 'Carnforth, Lancaster and Morecambe',
  'Area_ha': 1537.7834117992518},
 'E08000035': {'GB_Name': 'South and West Yorkshire',
  'Area_ha': 33862.85031020262},
 'E07000194': {'GB_Name': 'Birmingham', 'Area_ha': 15165.843593182164},
 'E08000012': {'GB_Name': 'Merseyside and Greater Manchester',
  'Area_ha': 529.3913619925181},
 'E06000032': {'GB_Name': 'London', 'Area_ha': 137.88663745905643},
 'E07000110': {'GB_Name': 'London', 'Area_ha': 527.5167889192109},
 'E08000003': {'GB_Name': 'Merseyside and Greater Manchester',
  'Area_ha': 1276.1501727207176},
 'E06000035': {'GB_Name': 'London', 'Area_ha': 1335.132551269089},
 'E07000187': {'GB_Name': 'Bath and Bristol', 'Area_ha': 856.222194175276},
 'E07000228': {'GB_Name': 'London', 'Area_ha': 22.31735474447999},
 'E07000210': {'GB_Name': 'London', 'Area_ha': 19634.424173454277},
 'E07000091': {'GB_Name': 'South West Hampshire',
  'Area_ha': 4967.462452780581},
 'E07000175': {'GB_Name': 'Derby and Nottingham', 'Area_ha': 6276.51666809489},
 'E07000195': {'GB_Name': 'Stoke-on-Trent', 'Area_ha': 9419.866579944473},
 'E08000021': {'GB_Name': 'Tyne and Wear', 'Area_ha': 3967.448618093797},
 'E09000025': {'GB_Name': 'London', 'Area_ha': 78.81077818236916},
 'E07000038': {'GB_Name': 'South and West Yorkshire',
  'Area_ha': 10325.000781388608},
 'E07000099': {'GB_Name': 'London', 'Area_ha': 17590.223411322244},
 'E06000024': {'GB_Name': 'Bath and Bristol', 'Area_ha': 15532.343896022987},
 'E08000022': {'GB_Name': 'Tyne and Wear', 'Area_ha': 1656.4369840579677},
 'E07000218': {'GB_Name': 'Birmingham', 'Area_ha': 17243.046009840018},
 'E06000057': {'GB_Name': 'Tyne and Wear', 'Area_ha': 70301.77582676863},
 'E06000018': {'GB_Name': 'Derby and Nottingham',
  'Area_ha': 736.0906844153022},
 'E07000219': {'GB_Name': 'Birmingham', 'Area_ha': 3243.1612163999107},
 'E08000004': {'GB_Name': 'Merseyside and Greater Manchester',
  'Area_ha': 6251.605158677929},
 'E07000178': {'GB_Name': 'Oxford', 'Area_ha': 1268.6699335867115},
 'E07000122': {'GB_Name': 'Merseyside and Greater Manchester',
  'Area_ha': 2043.0260677545273},
 'E07000123': {'GB_Name': 'Merseyside and Greater Manchester',
  'Area_ha': 656.1503829306173},
 'E09000026': {'GB_Name': 'London', 'Area_ha': 1920.4496276701168},
 'E07000236': {'GB_Name': 'Birmingham', 'Area_ha': 1793.848499917207},
 'E07000211': {'GB_Name': 'London', 'Area_ha': 8765.178218215442},
 'E07000124': {'GB_Name': 'Merseyside and Greater Manchester',
  'Area_ha': 1726.3889763028862},
 'E09000027': {'GB_Name': 'London', 'Area_ha': 134.20911186672575},
 'E08000005': {'GB_Name': 'Merseyside and Greater Manchester',
  'Area_ha': 9923.058350995116},
 'E07000075': {'GB_Name': 'London', 'Area_ha': 11821.46824035805},
 'E07000125': {'GB_Name': 'Merseyside and Greater Manchester',
  'Area_ha': 3064.1470582659563},
 'E08000018': {'GB_Name': 'South and West Yorkshire',
  'Area_ha': 20046.247482827886},
 'E07000220': {'GB_Name': 'Birmingham', 'Area_ha': 20573.054857683197},
 'E07000212': {'GB_Name': 'London', 'Area_ha': 5796.039156753637},
 'E07000176': {'GB_Name': 'Derby and Nottingham',
  'Area_ha': 16239.076351527763},
 'E07000167': {'GB_Name': 'York', 'Area_ha': 868.417204010789},
 'E08000006': {'GB_Name': 'Merseyside and Greater Manchester',
  'Area_ha': 3369.98984674362},
 'E08000028': {'GB_Name': 'Birmingham', 'Area_ha': 822.4634701053114},
 'E08000014': {'GB_Name': 'Merseyside and Greater Manchester',
  'Area_ha': 7313.107005529867},
 'E07000169': {'GB_Name': 'York', 'Area_ha': 1811.6349565876276},
 'E07000111': {'GB_Name': 'London', 'Area_ha': 34390.59341169018},
 'E08000019': {'GB_Name': 'South and West Yorkshire',
  'Area_ha': 9060.780577086802},
 'E06000051': {'GB_Name': 'Birmingham', 'Area_ha': 24475.961369975896},
 'E06000039': {'GB_Name': 'London', 'Area_ha': 866.5581930783557},
 'E08000029': {'GB_Name': 'Birmingham', 'Area_ha': 11861.234826138058},
 'E07000012': {'GB_Name': 'Cambridge', 'Area_ha': 23218.142168061302},
 'E07000039': {'GB_Name': 'Derby and Nottingham',
  'Area_ha': 1704.4747658516892},
 'E06000025': {'GB_Name': 'Bath and Bristol', 'Area_ha': 23018.446766497593},
 'E07000179': {'GB_Name': 'Oxford', 'Area_ha': 15367.786316827345},
 'E07000126': {'GB_Name': 'Merseyside and Greater Manchester',
  'Area_ha': 7612.429758054041},
 'E07000196': {'GB_Name': 'Birmingham', 'Area_ha': 32096.015449013834},
 'E08000023': {'GB_Name': 'Tyne and Wear', 'Area_ha': 2350.8030618647476},
 'E06000033': {'GB_Name': 'London', 'Area_ha': 579.2004750342558},
 'E07000213': {'GB_Name': 'London', 'Area_ha': 3319.9154538853995},
 'E07000240': {'GB_Name': 'London', 'Area_ha': 13144.066330037838},
 'E08000013': {'GB_Name': 'Merseyside and Greater Manchester',
  'Area_ha': 7974.788898952191},
 'E07000197': {'GB_Name': 'Stoke-on-Trent', 'Area_ha': 9292.431604283165},
 'E07000198': {'GB_Name': 'Stoke-on-Trent', 'Area_ha': 17380.4567663778},
 'E07000243': {'GB_Name': 'London', 'Area_ha': 177.90014521225868},
 'E08000007': {'GB_Name': 'Merseyside and Greater Manchester',
  'Area_ha': 5860.307414480732},
 'E06000021': {'GB_Name': 'Stoke-on-Trent', 'Area_ha': 1766.0332996137902},
 'E07000221': {'GB_Name': 'Birmingham', 'Area_ha': 22350.568878848488},
 'E08000024': {'GB_Name': 'Tyne and Wear', 'Area_ha': 3182.495197074787},
 'E07000214': {'GB_Name': 'London', 'Area_ha': 4188.135083756611},
 'E09000029': {'GB_Name': 'London', 'Area_ha': 604.1127577096725},
 'E08000008': {'GB_Name': 'Merseyside and Greater Manchester',
  'Area_ha': 5071.004032540208},
 'E07000199': {'GB_Name': 'Birmingham', 'Area_ha': 210.20732774696452},
 'E07000215': {'GB_Name': 'London', 'Area_ha': 23298.871857080176},
 'E07000083': {'GB_Name': 'Cheltenham and Gloucester',
  'Area_ha': 5528.787873596218},
 'E07000102': {'GB_Name': 'London', 'Area_ha': 6718.260665937474},
 'E06000034': {'GB_Name': 'London', 'Area_ha': 11670.118327574639},
 'E07000115': {'GB_Name': 'London', 'Area_ha': 17053.39815294445},
 'E08000009': {'GB_Name': 'Merseyside and Greater Manchester',
  'Area_ha': 3984.4751554791233},
 'E07000116': {'GB_Name': 'London', 'Area_ha': 7129.078220593772},
 'E07000077': {'GB_Name': 'London', 'Area_ha': 3809.3019030810387},
 'E07000180': {'GB_Name': 'Oxford', 'Area_ha': 8087.710732518506},
 'E08000036': {'GB_Name': 'South and West Yorkshire',
  'Area_ha': 23494.143758975537},
 'E08000030': {'GB_Name': 'Birmingham', 'Area_ha': 3941.788822768471},
 'E09000031': {'GB_Name': 'London', 'Area_ha': 840.3744528485428},
 'E06000007': {'GB_Name': 'Merseyside and Greater Manchester',
  'Area_ha': 11370.35857822481},
 'E07000222': {'GB_Name': 'Birmingham', 'Area_ha': 19063.735591599085},
 'E07000103': {'GB_Name': 'London', 'Area_ha': 380.4799262666073},
 'E07000216': {'GB_Name': 'London', 'Area_ha': 20836.76715269552},
 'E07000241': {'GB_Name': 'London', 'Area_ha': 10245.153348096163},
 'E07000127': {'GB_Name': 'Merseyside and Greater Manchester',
  'Area_ha': 31012.236231069834},
 'E07000181': {'GB_Name': 'Oxford', 'Area_ha': 1608.569299958902},
 'E08000010': {'GB_Name': 'Merseyside and Greater Manchester',
  'Area_ha': 10640.21772864047},
 'E06000054': {'GB_Name': 'Bath and Bristol', 'Area_ha': 6907.0644213639425},
 'E06000040': {'GB_Name': 'London', 'Area_ha': 16258.752472348899},
 'E08000015': {'GB_Name': 'Merseyside and Greater Manchester',
  'Area_ha': 7329.560346149074},
 'E07000217': {'GB_Name': 'London', 'Area_ha': 3947.6533185900817},
 'E06000041': {'GB_Name': 'London', 'Area_ha': 2902.722717856694},
 'E08000031': {'GB_Name': 'Birmingham', 'Area_ha': 798.7142862335722},
 'E07000237': {'GB_Name': 'Birmingham', 'Area_ha': 234.43767912471682},
 'E07000238': {'GB_Name': 'Birmingham', 'Area_ha': 8856.269951095568},
 'E07000128': {'GB_Name': 'Blackpool', 'Area_ha': 684.2361972011483},
 'E07000239': {'GB_Name': 'Birmingham', 'Area_ha': 10979.340961667082},
 'E06000014': {'GB_Name': 'York', 'Area_ha': 22396.804304451765}}

In [6]:
# save output
with open(out_path, "w") as out_file:
    json.dump(D_lookup, out_file)