In [1]:

from greensight.utils import DIR_DATA
import geopandas as gpd

In [2]:
# set location of data file
shapes_path = DIR_DATA / "shapes/England_Green_Belt_2022_23_WGS84/England_Green_Belt_2022_23_WGS84.shp"

out_path = DIR_DATA / "id_lookup/id_lookup.json"
# set output path
if not out_path.parent.is_dir():
    out_path.parent.mkdir()

In [3]:

df_shapes = gpd.read_file(shapes_path)
df_shapes.head()

,LAD_NM,LAD_CD,GB_Name,Area_ha,geometry
0,Amber Valley,E07000032,Derby and Nottingham,8647.904471,"MULTIPOLYGON (((-1.34303 53.071, -1.34304 53.0..."
1,Ashfield,E07000170,Derby and Nottingham,4521.598181,"MULTIPOLYGON (((-1.18089 53.11499, -1.18089 53..."
2,Barking and Dagenham,E09000002,London,527.776471,"MULTIPOLYGON (((0.15314 51.56697, 0.15325 51.5..."
3,Barnet,E09000003,London,2383.047837,"MULTIPOLYGON (((-0.20927 51.63758, -0.20937 51..."
4,Barnsley,E08000016,South and West Yorkshire,22393.050084,"MULTIPOLYGON (((-1.27572 53.52946, -1.27574 53..."

In [5]:
df_shapes["Area_ha"].isna().any()

np.False_