In [1]:
from greensight.utils import DIR_DATA
import pandas as pd
import numpy as np
import json

ValueError: numpy.dtype size changed, may indicate binary incompatibility. Expected 96 from C header, got 88 from PyObject

In [2]:
# config
green_belt = "Merseyside and Greater Manchester"

In [2]:
# load DataFrame
s1_path = DIR_DATA / "processed_data/sentinel_one_df.hdf"

s1_data = pd.read_hdf(s1_path, key="df")
s1_data.head(5)

NameError: name 'pd' is not defined

In [3]:
# load weights DataFrame
weights_path = DIR_DATA / "processed_data/sentinel_one_weights.hdf"

df_weights = pd.read_hdf(weights_path, key="df")
df_weights.head(5)

NameError: name 'pd' is not defined

In [9]:
# weights df shape must equal data shape
assert df_weights.shape == s1_data.shape

In [10]:
# combine
s1_combined = s1_data*df_weights
s1_combined = s1_combined.groupby(level=["greenbelt", "band"], axis=1).sum()
s1_combined.head(5)

/tmp/ipykernel_14102/382567915.py:3: FutureWarning: DataFrame.groupby with axis=1 is deprecated. Do `frame.T.groupby(...)` without axis instead.
  s1_combined = s1_combined.groupby(level=["greenbelt", "band"], axis=1).sum()

greenbelt  Bath and Bristol                                  Birmingham  \
band                  VHAsc      VHDes      VVAsc      VVDes      VHAsc
2016-01-01       -16.733175 -16.754733 -10.486643 -10.509499 -16.396578
2016-02-01       -17.161823 -16.413510 -10.859023 -10.346636 -16.698854
2016-03-01       -17.129486 -17.055261 -10.753075 -10.784869 -17.272145
2016-04-01       -17.229244 -17.733898 -11.471144 -11.692585 -16.868347
2016-05-01       -17.807955 -19.625690 -12.296638 -14.341092 -18.095525

greenbelt                                    Blackpool             ...  \
band            VHDes      VVAsc      VVDes      VHAsc      VHDes  ...
2016-01-01 -16.594125  -9.760255 -10.153038 -25.215555 -17.525761  ...
2016-02-01 -17.373598  -9.857857 -10.592963 -26.851769 -17.878718  ...
2016-03-01 -17.537473 -10.262804 -10.833394 -26.959264 -18.368126  ...
2016-04-01 -17.510366 -10.538851 -11.320926 -29.127227 -18.307848  ...
2016-05-01 -18.818340 -12.516961 -13.322134 -25.539716 -18.825193  ...

greenbelt  Stoke-on-Trent            Tyne and Wear                        \
band                VVAsc      VVDes         VHAsc      VHDes      VVAsc
2016-01-01     -10.117608 -10.312025    -17.173963 -17.287690 -10.386117
2016-02-01     -10.056902 -10.089613    -17.696011 -17.237174 -10.842463
2016-03-01     -10.203673 -10.699797    -18.051715 -18.418969 -11.118283
2016-04-01     -10.783270 -11.038344    -17.966978 -17.678947 -11.647092
2016-05-01     -12.234331 -14.362004    -18.863148 -18.553498 -13.531375

greenbelt                   York
band            VVDes      VHAsc      VHDes      VVAsc      VVDes
2016-01-01 -10.202752 -19.669240 -17.372143 -13.340954 -10.110974
2016-02-01 -10.082764 -23.956125 -18.290232 -18.802526 -10.731214
2016-03-01 -11.131899 -21.782712 -18.057898 -15.766225 -10.589340
2016-04-01 -11.250982 -22.797279 -17.954725 -17.203952 -11.120891
2016-05-01 -13.162039 -24.500349 -17.940405 -20.327269 -11.872395

[5 rows x 64 columns]

In [36]:
# load JULES data
path_soil = DIR_DATA / "processed_data/jules_soil.hdf"
path_veg = DIR_DATA / "processed_data/jules_veg.hdf"

In [37]:
jules_soil = pd.read_hdf(path_soil, key="df")
jules_soil = jules_soil.resample("MS").mean()
jules_soil.columns.name = "greenbelt"
jules_soil.head(5)

greenbelt,Bath and Bristol,Birmingham,Blackpool,Burton upon Trent and Swadlincote,Cambridge,Carnforth Lancaster and Morecambe,Cheltenham and Gloucester,Derby and Nottingham,London,Merseyside and Greater Manchester,Oxford,South West Hampshire,South and West Yorkshire,Stoke on Trent,Tyne and Wear,York
date,,,,,,,,,,,,,,,,
1970-01-01,21.362880,18.235046,9.121460,16.179541,17.278175,8.770087,17.555207,18.683782,21.794886,13.973450,22.041421,18.778323,17.201877,19.366544,17.939581,16.945380
1970-02-01,21.327750,18.206118,9.108020,16.153320,17.249945,8.757689,17.531750,18.653576,21.757765,13.953833,22.004342,18.744547,17.177773,19.339295,17.915232,16.919366
1970-03-01,21.300095,18.183981,9.098497,16.133003,17.227952,8.748382,17.514724,18.631225,21.729106,13.939579,21.975259,18.722119,17.160272,19.318162,17.896161,16.901401
1970-04-01,21.280054,18.165220,9.093255,16.114541,17.210666,8.742150,17.502141,18.610913,21.707012,13.930026,21.951129,18.713384,17.145819,19.300090,17.879083,16.888890
1970-05-01,21.282448,18.168520,9.103299,16.114583,17.220082,8.750565,17.507563,18.612188,21.712579,13.939851,21.952772,18.731860,17.154165,19.303562,17.886287,16.899604

In [38]:
jules_veg = pd.read_hdf(path_veg, key="df")
jules_veg = jules_veg.resample("MS").mean()
jules_veg.columns.name = "greenbelt"
jules_veg.head(5)

greenbelt,Bath and Bristol,Birmingham,Blackpool,Burton upon Trent and Swadlincote,Cambridge,Carnforth Lancaster and Morecambe,Cheltenham and Gloucester,Derby and Nottingham,London,Merseyside and Greater Manchester,Oxford,South West Hampshire,South and West Yorkshire,Stoke on Trent,Tyne and Wear,York
date,,,,,,,,,,,,,,,,
1970-01-01,0.841808,0.831365,0.253922,0.749075,0.414809,0.414128,0.486250,0.850546,1.253323,0.706593,0.630792,1.590776,0.836067,0.803313,1.058052,0.602004
1970-02-01,0.834988,0.825064,0.249057,0.743400,0.409160,0.409811,0.480748,0.844471,1.246652,0.700415,0.624942,1.581866,0.829629,0.796497,1.051454,0.595555
1970-03-01,0.831815,0.822118,0.247111,0.740841,0.405975,0.407698,0.478023,0.841617,1.243484,0.697133,0.622419,1.578783,0.825962,0.792887,1.047740,0.592576
1970-04-01,0.834892,0.824783,0.250172,0.743206,0.409751,0.409580,0.481346,0.844723,1.245117,0.699397,0.626163,1.582106,0.828127,0.795284,1.049388,0.596562
1970-05-01,0.844211,0.837583,0.261763,0.754716,0.425294,0.419146,0.493644,0.857630,1.254302,0.711978,0.639692,1.591940,0.840080,0.809636,1.059703,0.611181

In [39]:
jules_soil.columns = pd.MultiIndex.from_product([jules_soil.columns, ["soil"]], names=["greenbelt", "band"])
jules_soil.head(5)

greenbelt,Bath and Bristol,Birmingham,Blackpool,Burton upon Trent and Swadlincote,Cambridge,Carnforth Lancaster and Morecambe,Cheltenham and Gloucester,Derby and Nottingham,London,Merseyside and Greater Manchester,Oxford,South West Hampshire,South and West Yorkshire,Stoke on Trent,Tyne and Wear,York
band,soil,soil,soil,soil,soil,soil,soil,soil,soil,soil,soil,soil,soil,soil,soil,soil
date,,,,,,,,,,,,,,,,
1970-01-01,21.362880,18.235046,9.121460,16.179541,17.278175,8.770087,17.555207,18.683782,21.794886,13.973450,22.041421,18.778323,17.201877,19.366544,17.939581,16.945380
1970-02-01,21.327750,18.206118,9.108020,16.153320,17.249945,8.757689,17.531750,18.653576,21.757765,13.953833,22.004342,18.744547,17.177773,19.339295,17.915232,16.919366
1970-03-01,21.300095,18.183981,9.098497,16.133003,17.227952,8.748382,17.514724,18.631225,21.729106,13.939579,21.975259,18.722119,17.160272,19.318162,17.896161,16.901401
1970-04-01,21.280054,18.165220,9.093255,16.114541,17.210666,8.742150,17.502141,18.610913,21.707012,13.930026,21.951129,18.713384,17.145819,19.300090,17.879083,16.888890
1970-05-01,21.282448,18.168520,9.103299,16.114583,17.220082,8.750565,17.507563,18.612188,21.712579,13.939851,21.952772,18.731860,17.154165,19.303562,17.886287,16.899604

In [40]:

jules_veg.columns = pd.MultiIndex.from_product([jules_veg.columns, ["vegetation"]], names=["greenbelt", "band"])
jules_veg.head(5)

greenbelt,Bath and Bristol,Birmingham,Blackpool,Burton upon Trent and Swadlincote,Cambridge,Carnforth Lancaster and Morecambe,Cheltenham and Gloucester,Derby and Nottingham,London,Merseyside and Greater Manchester,Oxford,South West Hampshire,South and West Yorkshire,Stoke on Trent,Tyne and Wear,York
band,vegetation,vegetation,vegetation,vegetation,vegetation,vegetation,vegetation,vegetation,vegetation,vegetation,vegetation,vegetation,vegetation,vegetation,vegetation,vegetation
date,,,,,,,,,,,,,,,,
1970-01-01,0.841808,0.831365,0.253922,0.749075,0.414809,0.414128,0.486250,0.850546,1.253323,0.706593,0.630792,1.590776,0.836067,0.803313,1.058052,0.602004
1970-02-01,0.834988,0.825064,0.249057,0.743400,0.409160,0.409811,0.480748,0.844471,1.246652,0.700415,0.624942,1.581866,0.829629,0.796497,1.051454,0.595555
1970-03-01,0.831815,0.822118,0.247111,0.740841,0.405975,0.407698,0.478023,0.841617,1.243484,0.697133,0.622419,1.578783,0.825962,0.792887,1.047740,0.592576
1970-04-01,0.834892,0.824783,0.250172,0.743206,0.409751,0.409580,0.481346,0.844723,1.245117,0.699397,0.626163,1.582106,0.828127,0.795284,1.049388,0.596562
1970-05-01,0.844211,0.837583,0.261763,0.754716,0.425294,0.419146,0.493644,0.857630,1.254302,0.711978,0.639692,1.591940,0.840080,0.809636,1.059703,0.611181

In [41]:
print(jules_soil.shape)
print(jules_veg.shape)
print(s1_combined.shape)

(649, 16)
(649, 16)
(105, 64)

In [62]:
print(max(s1_combined.index))
print(max(jules_soil.index))
print(max(jules_veg.index))
expected_rows = s1_combined.shape[0] - (max(s1_combined.index).month - max(jules_soil.index).month)

expected_rows

2024-09-01 00:00:00
2024-01-01 00:00:00
2024-01-01 00:00:00

97

In [63]:
expected_cols = s1_combined.shape[1] + jules_soil.shape[1] + jules_veg.shape[1]
expected_cols

96

In [51]:
df_all = pd.concat([jules_soil, jules_veg, s1_combined], axis=1, join="inner")
df_all = df_all.groupby(level=0, axis=1).apply(
    lambda df: df.droplevel(0, axis=1).T.drop_duplicates().T
)
print(df_all.shape)
df_all.head(5)

/tmp/ipykernel_14102/2839721950.py:2: FutureWarning: DataFrame.groupby with axis=1 is deprecated. Do `frame.T.groupby(...)` without axis instead.
  df_all = df_all.groupby(level=0, axis=1).apply(

(97, 96)

greenbelt  Bath and Bristol                                              \
band                   soil vegetation      VHAsc      VHDes      VVAsc
2016-01-01        20.538058   0.874162 -16.733175 -16.754733 -10.486643
2016-02-01        20.509123   0.863136 -17.161823 -16.413510 -10.859023
2016-03-01        20.484851   0.860466 -17.129486 -17.055261 -10.753075
2016-04-01        20.470879   0.866171 -17.229244 -17.733898 -11.471144
2016-05-01        20.483321   0.875898 -17.807955 -19.625690 -12.296638

greenbelt             Birmingham                                   ...  \
band            VVDes       soil vegetation      VHAsc      VHDes  ...
2016-01-01 -10.509499  17.776966   0.839558 -16.396578 -16.594125  ...
2016-02-01 -10.346636  17.748355   0.830786 -16.698854 -17.373598  ...
2016-03-01 -10.784869  17.726005   0.828725 -17.272145 -17.537473  ...
2016-04-01 -11.692585  17.712009   0.834877 -16.868347 -17.510366  ...
2016-05-01 -14.341092  17.722460   0.844635 -18.095525 -18.818340  ...

greenbelt  Tyne and Wear                                        York  \
band               VHAsc      VHDes      VVAsc      VVDes       soil
2016-01-01    -17.173963 -17.287690 -10.386117 -10.202752  16.714644
2016-02-01    -17.696011 -17.237174 -10.842463 -10.082764  16.689212
2016-03-01    -18.051715 -18.418969 -11.118283 -11.131899  16.669819
2016-04-01    -17.966978 -17.678947 -11.647092 -11.250982  16.659543
2016-05-01    -18.863148 -18.553498 -13.531375 -13.162039  16.672983

greenbelt
band       vegetation      VHAsc      VHDes      VVAsc      VVDes
2016-01-01   0.600891 -19.669240 -17.372143 -13.340954 -10.110974
2016-02-01   0.593459 -23.956125 -18.290232 -18.802526 -10.731214
2016-03-01   0.591993 -21.782712 -18.057898 -15.766225 -10.589340
2016-04-01   0.598759 -22.797279 -17.954725 -17.203952 -11.120891
2016-05-01   0.610715 -24.500349 -17.940405 -20.327269 -11.872395

[5 rows x 96 columns]

In [64]:
assert df_all.shape == (expected_rows, expected_cols)

In [66]:
path_out = DIR_DATA / "processed_data/sentinel_one_all.hdf"
df_all.to_hdf(path_out, key="df", mode="w", format="table")

In [67]:
df_all_r = pd.read_hdf(path_out, key="df")

In [68]:
df_all_r.head()

greenbelt  Bath and Bristol                                              \
band                   soil vegetation      VHAsc      VHDes      VVAsc
2016-01-01        20.538058   0.874162 -16.733175 -16.754733 -10.486643
2016-02-01        20.509123   0.863136 -17.161823 -16.413510 -10.859023
2016-03-01        20.484851   0.860466 -17.129486 -17.055261 -10.753075
2016-04-01        20.470879   0.866171 -17.229244 -17.733898 -11.471144
2016-05-01        20.483321   0.875898 -17.807955 -19.625690 -12.296638
...                     ...        ...        ...        ...        ...
2023-09-01        20.577068   0.912813 -18.216297 -18.378292 -11.603202
2023-10-01        20.548080   0.912628 -17.829495 -18.298938 -11.221355
2023-11-01        20.508661   0.904354 -17.721905 -17.007086 -11.151742
2023-12-01        20.477357   0.886373 -16.551247 -16.579332 -10.284951
2024-01-01        20.456717   0.878453 -17.691037 -17.653561 -10.962773

greenbelt             Birmingham                                   ...  \
band            VVDes       soil vegetation      VHAsc      VHDes  ...
2016-01-01 -10.509499  17.776966   0.839558 -16.396578 -16.594125  ...
2016-02-01 -10.346636  17.748355   0.830786 -16.698854 -17.373598  ...
2016-03-01 -10.784869  17.726005   0.828725 -17.272145 -17.537473  ...
2016-04-01 -11.692585  17.712009   0.834877 -16.868347 -17.510366  ...
2016-05-01 -14.341092  17.722460   0.844635 -18.095525 -18.818340  ...
...               ...        ...        ...        ...        ...  ...
2023-09-01 -11.652088  17.770878   0.889918 -18.274116 -18.444911  ...
2023-10-01 -11.527336  17.754238   0.888391 -17.907809 -18.121392  ...
2023-11-01 -10.561257  17.720021   0.877614 -17.650516 -17.683121  ...
2023-12-01 -10.280130  17.690004   0.861868 -17.229852 -16.686508  ...
2024-01-01 -10.855791  17.671032   0.854299 -17.944131 -18.515201  ...

greenbelt  Tyne and Wear                                        York  \
band               VHAsc      VHDes      VVAsc      VVDes       soil
2016-01-01    -17.173963 -17.287690 -10.386117 -10.202752  16.714644
2016-02-01    -17.696011 -17.237174 -10.842463 -10.082764  16.689212
2016-03-01    -18.051715 -18.418969 -11.118283 -11.131899  16.669819
2016-04-01    -17.966978 -17.678947 -11.647092 -11.250982  16.659543
2016-05-01    -18.863148 -18.553498 -13.531375 -13.162039  16.672983
...                  ...        ...        ...        ...        ...
2023-09-01    -19.127846 -17.248026 -11.992504 -10.545670  16.726903
2023-10-01    -17.831008 -18.177311 -10.827014 -10.907561  16.697379
2023-11-01    -17.506804 -16.501600 -10.628829  -9.511333  16.665639
2023-12-01    -17.773982 -16.935160 -10.683211  -9.609489  16.638279
2024-01-01    -17.496569 -17.165346 -10.228442  -9.519818  16.621922

greenbelt
band       vegetation      VHAsc      VHDes      VVAsc      VVDes
2016-01-01   0.600891 -19.669240 -17.372143 -13.340954 -10.110974
2016-02-01   0.593459 -23.956125 -18.290232 -18.802526 -10.731214
2016-03-01   0.591993 -21.782712 -18.057898 -15.766225 -10.589340
2016-04-01   0.598759 -22.797279 -17.954725 -17.203952 -11.120891
2016-05-01   0.610715 -24.500349 -17.940405 -20.327269 -11.872395
...               ...        ...        ...        ...        ...
2023-09-01   0.647972 -19.274289 -18.721558 -11.600133 -11.560347
2023-10-01   0.644291 -18.435335 -18.838806 -10.870155 -11.350465
2023-11-01   0.632543 -17.465782 -17.904853 -10.252274 -10.650019
2023-12-01   0.619101 -18.271183 -17.325824 -10.679811  -9.985172
2024-01-01   0.612591 -18.627546 -19.025174 -10.966677 -11.176490

[97 rows x 96 columns]